@import "susy";
@import "variables/**/*";

/* Large screen menu - desktop*/
@include at-breakpoint($desk) {
	.l-top-nav {
		background: $site_default_font_color;
		position:fixed;
		top:0;
		width:100%;
		#block-system-main-menu {
		  @include container;
		  ul {
		  padding:0;
		    li {
		      list-style:none;
		      display: inline;
		      &.first {
		      	a {
		        	//padding-left:0;
		        }
		      }
		      a {
		        color: $menu_link_color;
		        text-decoration:none;
		        letter-spacing: 0.1em;
		        font-weight:bold;
		        padding: 16px 10px;
		        &:hover {
		        	//background: $menu_link_color;
		        	color: $menu_link_hover_color;
		        	//padding: 20px 10px;
		        }
		      }
		    }
		  }
		}
	}
}

/* Menu theming for small screens*/
.l-top-nav {
	.responsive-menus.responsified {
		background: none repeat scroll 0 0 $site_default_font_color;
		span.toggler {
			text-align:right;
			background: none repeat scroll 0 0 $site_default_font_color;
		   	border-radius: 0;
		   	box-shadow:none;
		   	margin-right:5px;
		   	padding:8px 0;
		   	&:hover {
		   		//text-decoration: underline;
		   	}
	   	}
	   	&.responsive-toggled.absolute {
	   	  .responsive-menus-simple {
	   	  	background: none repeat scroll 0 0 $site_default_font_color;
	   		border-radius: 0;
	   		box-shadow:none;
	   	  }
	   	}
	   	.responsive-menus-simple {
	   		ul {
	   		  padding:0 20px;
	   		  li.leaf {
	   		  	padding: 12px 0;
	   		  	list-style:none;
	   		  	a {
	   		    	color: $foreground;
	   		    	text-decoration:none;
	   		    	&:hover {
	   		    		text-decoration: underline;
	   		    	}
	   		    }
	   		  }
	   		}
	   	}
	}
}

/* Small Screen Site name*/
@include at-breakpoint($tab) {
	.site-name {
		text-shadow: 1px 1px 2px $menu_link_hover_color;
		a {
			position: absolute;
			top:7px;
			left:4px;
			font-size:1.4em;
			font-weight: bold;
			//letter-spacing: -1px;
		}
	}
	.ir_custom_logo {
		.ir-custom-logo-icons {
			position: absolute;
			top:12px;
			margin-left:6.3em;
			text-shadow: 1px 1px 1px $menu_link_hover_color;
			.ir-main-idea {
		 		color: $foreground;
		 		margin-right:15px;
			}
			#ir-drupal {
				color: $bg_idea_drupal;
			}
			#ir-love {
				color: $bg_idea_love;
			}
			#ir-dedication {
				color: $bg_idea_dedication;
			}
		}
	}
	.l-top-nav {
	}
}