/*******************************************************************************
 * simple.layout.scss
 *
 * Styling of the "simple" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
/* IR color palatte*/
/* Site Wide varaibles*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/innosome\/docroot\/sites\/all\/themes\/ir_love_custom\/sass\/layouts\/inno_love\/inno_love\.layout\.scss}line{font-family:\0000310}}
.l-branding {
  clear: both;
  width: 100%;
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/innosome\/docroot\/sites\/all\/themes\/ir_love_custom\/sass\/layouts\/inno_love\/inno_love\.layout\.scss}line{font-family:\0000316}}
.l-header {
  background: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/innosome\/docroot\/sites\/all\/themes\/ir_love_custom\/sass\/layouts\/inno_love\/inno_love\.layout\.scss}line{font-family:\0000321}}
.l-footer,
.l-main {
  clear: both; }

/*site body defaults*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/innosome\/docroot\/sites\/all\/themes\/ir_love_custom\/sass\/layouts\/inno_love\/inno_love\.layout\.scss}line{font-family:\0000330}}
.l-page {
  font-size: 100%;
  color: #222222; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/innosome\/docroot\/sites\/all\/themes\/ir_love_custom\/sass\/layouts\/inno_love\/inno_love\.layout\.scss}line{font-family:\0000343}}
.l-region--highlighted,
.l-region--help,
.l-region--sidebar-first,
.l-region--sidebar-second {
  margin-bottom: 20px; }

@media (min-width: 481px) and (max-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/innosome\/docroot\/sites\/all\/themes\/ir_love_custom\/sass\/layouts\/inno_love\/inno_love\.layout\.scss}line{font-family:\0000348}}
  .l-region--header {
    width: 66.10169%;
    float: right;
    margin-right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/innosome\/docroot\/sites\/all\/themes\/ir_love_custom\/sass\/layouts\/inno_love\/inno_love\.layout\.scss}line{font-family:\0000351}}
  .l-region--navigation {
    clear: both; } }
@media (min-width: 769px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/innosome\/docroot\/sites\/all\/themes\/ir_love_custom\/sass\/layouts\/inno_love\/inno_love\.layout\.scss}line{font-family:\0000372}}
  .l-region--header {
    width: 62.02532%;
    float: right;
    margin-right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/innosome\/docroot\/sites\/all\/themes\/ir_love_custom\/sass\/layouts\/inno_love\/inno_love\.layout\.scss}line{font-family:\0000377}}
  .has-sidebar-first .l-content {
    width: 74.68354%;
    float: right;
    margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/innosome\/docroot\/sites\/all\/themes\/ir_love_custom\/sass\/layouts\/inno_love\/inno_love\.layout\.scss}line{font-family:\0000380}}
  .has-sidebar-first .l-region--sidebar-first {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/innosome\/docroot\/sites\/all\/themes\/ir_love_custom\/sass\/layouts\/inno_love\/inno_love\.layout\.scss}line{font-family:\0000385}}
  .has-sidebar-second .l-content {
    width: 62.02532%;
    float: left;
    margin-right: 1.26582%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/innosome\/docroot\/sites\/all\/themes\/ir_love_custom\/sass\/layouts\/inno_love\/inno_love\.layout\.scss}line{font-family:\0000388}}
  .has-sidebar-second .l-region--sidebar-second {
    width: 36.70886%;
    float: right;
    margin-right: 0;
    clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/innosome\/docroot\/sites\/all\/themes\/ir_love_custom\/sass\/layouts\/inno_love\/inno_love\.layout\.scss}line{font-family:\0000395}}
  .has-two-sidebars .l-content {
    width: 49.36709%;
    float: left;
    margin-right: 1.26582%;
    margin-left: 25.31646%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/innosome\/docroot\/sites\/all\/themes\/ir_love_custom\/sass\/layouts\/inno_love\/inno_love\.layout\.scss}line{font-family:\00003100}}
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/innosome\/docroot\/sites\/all\/themes\/ir_love_custom\/sass\/layouts\/inno_love\/inno_love\.layout\.scss}line{font-family:\00003103}}
  .has-two-sidebars .l-region--sidebar-first {
    margin-left: -75.94937%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/innosome\/docroot\/sites\/all\/themes\/ir_love_custom\/sass\/layouts\/inno_love\/inno_love\.layout\.scss}line{font-family:\00003106}}
  .has-two-sidebars .l-region--sidebar-second {
    float: right;
    margin-right: 0;
    clear: none; } }
