/* IR color palatte*/
$blue: #2CA8C2;
$pink: #EB5054;
$green: #8AB845;
//$yellow: #f4b400;
$yellow: #D3D222;
$white: #ffffff;
$grey: #222222;


/* Site Wide varaibles*/
$site_body_color: #F2F2F2;
$site_grey_light: #C9C9C9;
$menu_link_color: #DDDDDD;
$text_shadow: #333333;
$menu_link_hover_color: #8d8d8d;
$text_shadow_logo: #000000;




$portfolio_color: #D67272;
$services_color: #72BAD6;
$blogs-color: rgb(116, 202, 88);
