/* IR color palatte*/
$blue: #2CA8C2;
$pink: #EB5054;
$green: #8AB845;
//$yellow: #f4b400;
$yellow: #D3D222;
$white: #ffffff;
//$grey: #222222;
$grey: #5F5B5B;
$light-black: #373737;
$black: #000000;
$light_grey: #6D6565;
$node_heading_color: #4E4A4A;
$footer_background_color: #252323;

/* Site Wide varaibles*/
$site_body_color: #F2F2F2;
$site_grey_light: #C9C9C9;
$menu_link_color: #EEEEEE;
$text_shadow: #333333;
$menu_link_hover_color: #8d8d8d;
$text_shadow_logo: #000000;


//$portfolio_color: #D67272;
$portfolio_color: #EAECFE;
//$services_color: #72BAD6;
$services_color: #FDEADB;
//$blogs-color: rgb(116, 202, 88);
$blogs-color: #F0FCDD;
$grey_block: #F8F5F5;
