@import "susy";
@import "variables/**/*";
@import "base/**/*";
@import "compass/css3/box-shadow";

/* front header site name - desk*/
@include at-breakpoint($desk) {
	.front {
		.l-branding {
			padding: 7em 0 3.5em;
			.site-name {
				//text-shadow: 1px 1px 3px $menu_link_hover_color;
				clear:both;
				padding: 10px 1px;
				float:none;
				width:99.9%;
				background: $grey;
				a {
					//background: $grey;
					font-size: 6em;
					font-weight:normal;
					padding: 0 112px;
					text-transform:lowercase;
				}
			}
			.ir_custom_logo {
				width:550px;
				float:none;
				margin: 0 auto;
				.ir-custom-logo-icons {
					float:none;
				}
				.ir-main-idea {
					width:33.3%;
					padding: 1.8em 0;
					color: $white;
					margin-bottom:1px;
					margin-right:0;
					text-shadow: 2px 2px 2px $text_shadow;
					.ir-idea-font-icon {
						//float:left;
					}
					.ir-idea-text {
						display:none;
					}
				}
				#ir-drupal {
					background: $blue;
				}
				#ir-love {
					background: $pink;
				}
				#ir-dedication {
					background: $green;
				}
			}
			.ir-slogan {
				clear:both;
				float:none;
				font-size: 1.5em;
				margin-top:2.1em;
				text-align:center;
			}
		}
	}
}
.l-content {
	@include container;
}

@include at-breakpoint($desk) {
	.l-branding {
		@include container;
		padding: 6em 5px 3em 5px;
		.site-name {
			float: right;
			padding: 1px;
			text-shadow: 1px 1px 2px $text_shadow_logo;
			background: $grey;
			a {
				font-size: 2.5em;
				font-weight:normal;
				padding: 0 50px;
				text-transform:lowercase;
			}
		}
		.ir_custom_logo {
				//width:330px;
				float:left;
				margin: 0 auto;
				.ir-custom-logo-icons {
					float:left;
				}
				.ir-main-idea {
					//width:33.3%;
					padding: 15px;
					margin-right:2px;
					color: $white;
					margin-bottom:1px;
					text-shadow: 1px 1px 3px $text_shadow;
				}
				#ir-drupal {
					background: $blue;
				}
				#ir-love {
					background: $pink;
				}
				#ir-dedication {
					background: $green;
				}
			}
			.ir-slogan {
				float:right;
				font-size: 1.1em;
				//margin-top:2em;
				text-align:left;
			}
	}
	.front-page-main-content {
		.pane-title {
			text-align:left !important;
		}
		.content-listings-home {
			> .view-content .views-row {
				text-align:left !important;
			}
		}
		.header-stickey {
		    position:fixed;
	    	padding:0.5em !important;
	    	z-index:999;
	    	@include container;
		}
		
	}
	.work-content-listing {
			> .view-content .views-row {
				padding:0 !important;
				.views-field-title {
					//float:left;
					//margin-left:0.5em;
					margin-top:1em;
				}
				.views-field-field-work-category {
					//float:right;
					//margin-right:0.5em;
					//margin-top:1em;
				}
				.views-field-field-client-testimonials{
					clear:right;
					//margin-top:4em;
					//text-align:center;
				}
    			
			}
			.views-row-odd {
				.listing-list-left {
					//@include span-columns(6,12);
					float:left;
					width:50%;
					margin:0;
					border-right: 1em solid $site_body_color;

				}
				.listing-list-right {
					width: 50%;
					display: block;
					float: left;
				}
			}
			.views-row-even {
				.listing-list-left {
					float:right;
					width:50%;
					border-left: 1em solid $site_body_color;
				}
				.listing-list-right {
					float:left;
					width:50%;
					margin-right:0;
				}
			}
			
		}
	.pane-main-idea {
		.front-page-main-content {
			margin-right:6px;
			@include container;
		}
	}
	.pane-views-our-portfolio-block {
		.header-stickey {
			top:2.1em;
		}
	}
	.pane-views-our-services-services-content {
		.header-stickey {
			top:4em;
		}
	}
}

@include at-breakpoint($tablet_only) {
	.l-branding {
		.ir-slogan {
			display:none;
		}
	}
	.front-page-main-content {
		.content-listings-home {
			> .view-content .views-row {
				text-align:left !important;
			}
		}
	}	
}

@include at-breakpoint($mobile) {
	.l-branding {
		.ir-slogan {
			display:none;
		}
	}
}

/* front header default*/
.ir-main-idea {
	float:left;
}

.work-content-listing {
	> .view-content .views-row {
		font-family: "sans-serif";
		$total-columns:12;
		$gutter-width: 1em;
		text-align:left;
		@include container;
		background: $white;
		margin-bottom:2em;
		font-size: 1.2em;
		letter-spacing: -1px;
    	font-weight: normal;
    	.listing-list-right {
    		position:relative;
    		.content-as-flag {
    			color: $white;
    		}
    		.views-field-field-work-category {
    			position: absolute;
    			right:0;
    			margin-right:2em;
    			padding: 0.5em 1.5em;
    			top:0;
    			font-size: 0.7em;
				letter-spacing: 0.1em;
    		}
    		.views-field-field-client-testimonials {
    			margin-top:2em;
    			.content-title {
    				margin-left: 1em;
					font-size: 2.2em;
					text-transform: lowercase;
					text-align:left;
    			}
    			.content-testimonials {
    				margin-top: 2em;
					margin-left: 4em;
					margin-right: 2em;
					text-align: left;
					font-size:1.1em;
					font-family: serif;
					font-style: italic;
					line-height: 1.7em;
    			}
    		}

    	}
    	.content-image {
    		img {
    			width:100%;
    			//height:auto;
    		}
    	}
    		&:nth-child(4n + 1){
    			@include color_palatte_ir_work($blue);
			}
			&:nth-child(4n + 2){
				@include color_palatte_ir_work($pink);
			}
			&:nth-child(4n + 3) {
				@include color_palatte_ir_work($green);
			}
			&:nth-child(4n) {
				@include color_palatte_ir_work($yellow);
			}
	}
	.view-footer {
		a {
			display:block;
			background: $grey;
			color: $white;
			padding:0.5em;
			font-size:1.2em;
			text-align:center;
			text-decoration:none;
			&:hover {
				background: $grey;
				color: $yellow;
			}
		}

	}
}

.front-page-main-content {
	.pane-title {
		font-weight:normal;
		font-size:1.5em;
		text-shadow: 0 1px 0 $white;
		text-align:center;
		display: block;
		width: 100%;
		margin:0;
		padding: 0.83em 0;
		background: $site_body_color;
	}
	.content-listings-home {
		> .view-content .views-row {
			$total-columns: 12;
			$gutter-width: 1em;

			@include container;
			clear:both;
			text-align:center;
			position: relative;

			background-color: $white;
			min-height:9em;
    		font-weight: normal;
    		letter-spacing: -1px;
    		padding: 20px;
    		margin: 15px 0px 15px 6px;
    		.views-field-title {
    			position:absolute;
    			left:0;
    			top:0;
    			display:block;
    			width:100%;
    			a {
    				color: $white;
    				display:block;
    				width:100%;
    				padding: 0.5em 1.2em;
					font-size: 1.1em;
    			}
    		}
    		.views-field-body {
    			margin-top: 2em;
				font-family: serif;
				font-size: 1.2em;
    		}
			&:nth-child(4n + 1){
				@include color_palatte_ir_services($blue);
			}
			&:nth-child(4n + 2){
				@include color_palatte_ir_services($pink);
			}
			&:nth-child(4n + 3) {
				@include color_palatte_ir_services($green);
			}
			&:nth-child(4n) {
				@include color_palatte_ir_services($yellow);
			}
			&:hover {
				bakground: $white;
			}
			.views-field-field-client-testimonials {
				font-size: 14px;
				letter-spacing:0;
				margin-top:10px;
			}
		}
	}
}