@import "susy";
@import "variables/**/*";
@import "compass/css3/box-shadow";

/* front header site name - desk*/
@include at-breakpoint($desk) {
	.front {
		.l-branding {
			padding: 7em 0 3.5em;
			.site-name {
				//text-shadow: 1px 1px 3px $menu_link_hover_color;
				clear:both;
				padding: 10px 1px;
				float:none;
				width:99.9%;
				background: $site_default_font_color;
				a {
					//background: $site_default_font_color;
					font-size: 6em;
					font-weight:normal;
					padding: 0 112px;
					text-transform:lowercase;
				}
			}
			.ir_custom_logo {
				width:550px;
				float:none;
				margin: 0 auto;
				.ir-custom-logo-icons {
					float:none;
				}
				.ir-main-idea {
					width:33.3%;
					padding: 1.8em 0;
					color: $white;
					margin-bottom:1px;
					margin-right:0;
					text-shadow: 2px 2px 2px $text_shadow;
				}
				#ir-drupal {
					background: $blue;
				}
				#ir-love {
					background: $pink;
				}
				#ir-dedication {
					background: $green;
				}
			}
			.ir-slogan {
				clear:both;
				float:none;
				font-size: 1.5em;
				margin-top:2.1em;
				text-align:center;
			}
		}
	}
}
.l-content {
	@include container;
}

@include at-breakpoint($desk) {
	.l-branding {
		@include container;
		padding: 6em 5px 3em 5px;
		.site-name {
			float: right;
			padding: 1px;
			text-shadow: 1px 1px 2px $text_shadow_logo;
			background: $site_default_font_color;
			a {
				font-size: 2.5em;
				font-weight:normal;
				padding: 0 50px;
				text-transform:lowercase;
			}
		}
		.ir_custom_logo {
				//width:330px;
				float:left;
				margin: 0 auto;
				.ir-custom-logo-icons {
					float:left;
				}
				.ir-main-idea {
					//width:33.3%;
					padding: 15px;
					margin-right:2px;
					color: $white;
					margin-bottom:1px;
					text-shadow: 1px 1px 3px $text_shadow;
				}
				#ir-drupal {
					background: $blue;
				}
				#ir-love {
					background: $pink;
				}
				#ir-dedication {
					background: $green;
				}
			}
			.ir-slogan {
				float:right;
				font-size: 1.1em;
				//margin-top:2em;
				text-align:left;
			}
	}
	.front-page-main-content {
		.pane-title {
			text-align:left !important;
		}
		.content-listings-home {
			> .view-content .views-row {
				clear:none !important;
				text-align:left !important;
				.content-image {
					//@include span-columns(3,6);
				}
			}
			> .view-content {
				/*$total-columns: 12;
				@include container;
				.views-row-odd {
					@include span-columns(6,12);
				}
				.views-row-even {
					@include span-columns(6,12);
				}*/

			}
		}
		
	}
	.work-content-listing {
			> .view-content .views-row {
				padding:0 !important;
				.views-field-title {
					float:left;
					margin-left:0.5em;
					margin-top:1em;
				}
				.views-field-field-work-category {
					float:right;
					margin-right:0.5em;
					margin-top:1em;
				}
				.views-field-field-client-testimonials{
					clear:right;
					margin-top:4em;
				}
    			
			}
			.views-row-odd {
				.listing-list-left {
					//@include span-columns(6,12);
					float:left;
					width:50%;
					margin:0;

				}
				.listing-list-right {
					width: 50%;
					display: block;
					float: left;
				}
			}
			.views-row-even {
				.listing-list-left {
					float:right;
					width:50%;
					//border-left: 1em solid $site_body_color;
				}
				.listing-list-right {
					float:left;
					width:50%;
					margin-right:0;
				}
			}
			
		}
	.pane-main-idea {
		.front-page-main-content {
			margin-right:6px;
		}
	}
}

@include at-breakpoint($tablet_only) {
	.l-branding {
		.ir-slogan {
			display:none;
		}
	}
	.front-page-main-content {
		.content-listings-home {
			> .view-content .views-row {
				text-align:left !important;
				.content-image {
					@include span-columns(6,12);
				}
			}
		}
	}
}

@include at-breakpoint($mobile) {
	.l-branding {
		.ir-slogan {
			display:none;
		}
	}
}

/* front header default*/
.ir-main-idea {
	float:left;
}

/* front page services blocks */
#block-views-our-services-block {
	margin-top:2em;
	.views-view-grid {
		width:100%;
		border-collapse: collapse;
		tr {
		}
		td {
			//padding:20px 0;
			width:100%;
			&:nth-child(4n + 1){
				background:$blue;
			}
			&:nth-child(4n + 2){
				background:$pink;
			}
			&:nth-child(4n + 3) {
				background:$green;
			}
			&:nth-child(4n) {
				background:$yellow;
				//border:none;
			}
			a {
				padding:20px;
				display:block;
				color: $white;
				text-decoration:none;
				&:hover {
					text-decoration:underline;
				}
			}
		}
	}
}
.work-content-listing {
	> .view-content .views-row {
		font-family: "sans-serif";
		$total-columns:12;
		$gutter-width: 1em;
		text-align:center;
		@include container;
		background: $white;
		margin-bottom:2em;
		font-size: 1.2em;
    	font-weight: normal;
    	letter-spacing: -1px;
    	.content-image {
    		img {
    			width:100%;
    			height:auto;
    			}
    		}
    		&:nth-child(4n + 1){
    			.listing-list-right {
    				border-top: 1em solid $blue;
    			}
				.views-field-field-work-link, .views-field-title {
					a {
						color: $blue;
					}
				}
			}
			&:nth-child(4n + 2){
				.listing-list-right {
    				border-top: 1em solid $pink;
    			}
				.views-field-field-work-link, .views-field-title {
					a {
						color: $pink;
					}
				}
			}
			&:nth-child(4n + 3) {
				.listing-list-right {
    				border-top: 1em solid $green;
    			}
				.views-field-field-work-link, .views-field-title {
					a {
						color: $green;
					}
				}
			}
			&:nth-child(4n) {
				.listing-list-right {
    				border-top: 1em solid $yellow;
    			}
				.views-field-field-work-link, .views-field-title {
					a {
						color: $yellow;
					}
				}
			}
	}
	.view-footer {
		a {
			display:block;
			background: $yellow;
			color: $site_default_font_color;
			padding:0.5em;
			font-size:1.2em;
			text-align:center;
			text-decoration:none;
			&:hover {
				background: $site_default_font_color;
				color: $yellow;
			}
		}

	}
}

.front-page-main-content {
	.pane-title {
		font-weight:normal;
		font-size:1.5em;
		text-shadow: 0 1px 0 $white;
		text-align:center;
	}
	.content-listings-home {
		> .view-content .views-row {
			$total-columns: 12;
			$gutter-width: 1em;

			@include container;
			clear:both;
			text-align:center;

			background-color: #FFFFFF;
    		font-size: 22px;
    		font-weight: normal;
    		letter-spacing: -1px;
    		padding: 20px;
    		margin: 15px 0px 15px 6px;
			&:nth-child(4n + 1){
				.views-field-field-work-link, .views-field-title {
					a {
						color: $blue;
					}
				}
			}
			&:nth-child(4n + 2){
				.views-field-field-work-link, .views-field-title {
					a {
						color: $pink;
					}
				}
			}
			&:nth-child(4n + 3) {
				.views-field-field-work-link, .views-field-title {
					a {
						color: $green;
					}
				}
			}
			&:nth-child(4n) {
				.views-field-field-work-link, .views-field-title {
					a {
						color: $yellow;
					}
				}
			}
			&:hover {
				bakground: $white;
			}
			.views-field-field-client-testimonials {
				font-size: 14px;
				letter-spacing:0;
				margin-top:10px;
			}
		}
	}
}
