@import "susy";
@import "variables/**/*";

/* front main idea blocks*/
.front {
	.panels-flexible-row {
	  padding:0px;
	}
}
.ir-main-idea {
	width:100%;
	display:table;
	.inside {
		display:table-cell;
		text-align: center;
		vertical-align: middle;
		.content-ir-main-idea {
			.main-idea-image-inner {
				display:table;
				margin: 0 auto;
				padding: 5%;
				background: $image_background;
				img {
	  				//background: $image_background;
	  				/*@media screen and (orientation: portrait) {
	  				  height: 320px !important;
	  				  width: 200px !important;
	  				}*/
				}
			}			
		}
	}
}
.ir-main-idea-love {
	background: $bg_idea_love;
}
.ir-main-idea-dedication {
	background: $bg_idea_dedication;
}
.ir-main-idea-tech {
	background: $bg_idea_tech;
}