@import "susy";
@import "variables/**/*";
@import "base/**/*";
@import "compass/css3/box-shadow";

/* services listing - homepage/ landing page*/
.content-listings-home {
		> .view-content .views-row {
			$total-columns: 12;
			$gutter-width: 1em;

			@include container;
			clear:both;
			position: relative;

			background-color: $white;
			min-height:9em;
    		font-weight: normal;
    		letter-spacing: -1px;
    		padding: 20px;
    		margin: 15px 0px 15px 6px;
    		.views-field-title {
    			position:absolute;
    			left:0;
    			top:0;
    			display:block;
    			width:100%;
    			a {
    				color: $white;
    				display:block;
    				width:100%;
    				padding: 0.5em 1.2em;
					font-size: 1.1em;
    			}
    			.service-icon {
    				float:right;
    			}
    		}
    		.views-field-body {
    			margin-top: 2em;
				font-family: serif;
				font-size: 1.2em;
    		}
			&:nth-child(4n + 1){
				@include color_palatte_ir_services($blue);
			}
			&:nth-child(4n + 2){
				@include color_palatte_ir_services($pink);
			}
			&:nth-child(4n + 3) {
				@include color_palatte_ir_services($green);
			}
			&:nth-child(4n) {
				@include color_palatte_ir_services($yellow);
			}
			&:hover {
				bakground: $white;
			}
			.views-field-field-client-testimonials {
				font-size: 14px;
				letter-spacing:0;
				margin-top:10px;
			}
		}
	}