@import "susy";
@import "variables/**/*";
@import "base/**/*";
@import "compass/css3/box-shadow";

/* Contact Us page*/
@include at-breakpoint($tab) {
	#contact-site-form {
		.form-text, textarea {
			width:100% !important;
		}
	}
}
#contact-site-form {
	.form-text, textarea, .grippie {
		width:80%;
		height: 40px;
		padding-left: 6px;
	}
		fieldset.captcha .fieldset-wrapper img {
			width:80%;
		}
	.grippie {
		height: 15px;
	}
	textarea {
		height: 140px;
	}
	.form-actions {
		margin-top:1em;
		margin-left:0.1em;
	}
}

	@include at-breakpoint($desk) {
		.page-contact fieldset.captcha  {
			width:80%;
		}
	}


.l-region--sidebar-second {
	#contact-site-form {
		.form-text, textarea, .grippie {
			width:100%;
		}
	}
}

/* recaptcha form*/
.captcha {
	width:100%;
	.fieldset-wrapper {
		width:auto;
		#edit-captcha-form {
			width:auto;
			#recaptcha_table {
				.recaptcha_image_cell {
					width:auto !important;
					#recaptcha_image {
						width:auto !important;
					}
				}
				#recaptcha_response_field {
					width:100% !important;
				}
			}
		}
	}
	#recaptcha_privacy {
	  display:none;
	}
}
