/* Custom color variables*/

$bg_idea_pink: #EB5054;
$bg_idea_green: #8AB845;
$bg_idea_blue: #2CA8C2;
$bg_idea_yellow: #f4b400;
$foreground: #FFFFFF;

/* Site Wide varaibles*/
$site_default_font_color: #222222;
$site_body_color: #DCDCDC;
$menu_link_color: #DDDDDD;
$text_shadow: #333333;
$menu_link_hover_color: #8d8d8d;
$text_shadow_logo: #000000;