// Susy Variables

// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 20px;
$horz-spacing-unit: 1em;

// Define Susy grid variables mobile first.
$total-columns: 4;
$column-width: 4em;
$gutter-width: $horz-spacing-unit;
$grid-padding: 5px;

$container-style: magic;
$container-width: 1060px;

// Susy Media Layouts @see http://susy.oddbird.net/guides/reference/#ref-media-layouts
//$tab_to_desk: 768 12; // At 44em use 12 columns.
$desk: 769px 16;
$tab: 12 768px; // At 44em use 12 columns.
$tablet_only: 481px 12 768px;
$mobile: 8 480px; // At 480px use 8 columns.
$break: 12;