/* Custom color variables*/
/* Site Wide varaibles*/
/* No files to import found in abstractions/**\/* */
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: local("Cabin Regular"), local("Cabin-Regular"), url(http://themes.googleusercontent.com/static/fonts/cabin/v4/JEgmtEDzc-IH8jBshQXrYA.woff) format("woff"); }

/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* No files to import found in variables/**\/* */
/* Large screen menu - desktop*/
@media (min-width: 769px) {
  /* line 6, ../sass/components/_navigation.scss */
  .l-top-nav {
    background: #222222;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; }
    /* line 12, ../sass/components/_navigation.scss */
    .l-top-nav #block-system-main-menu {
      max-width: 1050px;
      padding-left: 5px;
      padding-right: 5px;
      margin-left: auto;
      margin-right: auto; }
      /* line 38, ../../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
      .l-top-nav #block-system-main-menu:after {
        content: "";
        display: table;
        clear: both; }
      /* line 14, ../sass/components/_navigation.scss */
      .l-top-nav #block-system-main-menu ul {
        padding: 0; }
        /* line 16, ../sass/components/_navigation.scss */
        .l-top-nav #block-system-main-menu ul li {
          list-style: none;
          display: inline; }
          /* line 24, ../sass/components/_navigation.scss */
          .l-top-nav #block-system-main-menu ul li a {
            color: #dddddd;
            text-decoration: none;
            letter-spacing: 0.1em;
            font-weight: bold;
            padding: 16px 10px; }
            /* line 30, ../sass/components/_navigation.scss */
            .l-top-nav #block-system-main-menu ul li a:hover {
              color: #8d8d8d;
              font-weight: bold; } }
/* Menu theming for small screens*/
/* line 45, ../sass/components/_navigation.scss */
.l-top-nav .responsive-menus.responsified {
  background: none repeat scroll 0 0 #222222; }
  /* line 47, ../sass/components/_navigation.scss */
  .l-top-nav .responsive-menus.responsified span.toggler {
    text-align: right;
    background: none repeat scroll 0 0 #222222;
    border-radius: 0;
    box-shadow: none;
    padding: 8px 8px 8px 0;
    font-weight: bold; }
  /* line 60, ../sass/components/_navigation.scss */
  .l-top-nav .responsive-menus.responsified.responsive-toggled.absolute .responsive-menus-simple {
    background: none repeat scroll 0 0 #222222;
    border-radius: 0;
    box-shadow: none; }
  /* line 67, ../sass/components/_navigation.scss */
  .l-top-nav .responsive-menus.responsified .responsive-menus-simple ul {
    padding: 0;
    margin: 0; }
    /* line 70, ../sass/components/_navigation.scss */
    .l-top-nav .responsive-menus.responsified .responsive-menus-simple ul li.leaf {
      list-style: none; }
      /* line 72, ../sass/components/_navigation.scss */
      .l-top-nav .responsive-menus.responsified .responsive-menus-simple ul li.leaf a {
        color: #dddddd;
        text-decoration: none;
        display: block;
        padding: 12px; }
        /* line 77, ../sass/components/_navigation.scss */
        .l-top-nav .responsive-menus.responsified .responsive-menus-simple ul li.leaf a:hover {
          background: #dddddd;
          color: #222222; }

/* Small Screen Site name*/
@media (max-width: 768px) {
  /* line 90, ../sass/components/_navigation.scss */
  .site-name {
    text-shadow: 1px 1px 1px black; }
    /* line 92, ../sass/components/_navigation.scss */
    .site-name a {
      position: absolute;
      top: 0px;
      left: 4px;
      font-size: 2em;
      font-weight: bold; }

  /* line 102, ../sass/components/_navigation.scss */
  .ir_custom_logo .ir-custom-logo-icons {
    position: absolute;
    top: 12px;
    margin-left: 8.5em;
    text-shadow: 1px 1px 1px black; }
    /* line 107, ../sass/components/_navigation.scss */
    .ir_custom_logo .ir-custom-logo-icons .ir-main-idea {
      color: white;
      margin-right: 8px; }
    /* line 111, ../sass/components/_navigation.scss */
    .ir_custom_logo .ir-custom-logo-icons #ir-drupal {
      color: #2ca8c2; }
    /* line 114, ../sass/components/_navigation.scss */
    .ir_custom_logo .ir-custom-logo-icons #ir-love {
      color: #eb5054; }
    /* line 117, ../sass/components/_navigation.scss */
    .ir_custom_logo .ir-custom-logo-icons #ir-dedication {
      color: #8ab845; } }
/* No files to import found in variables/**\/* */
/* front header site name - desk*/
@media (min-width: 769px) {
  /* line 8, ../sass/components/pages/_front.scss */
  .front .l-branding {
    padding: 6em 0; }
    /* line 10, ../sass/components/pages/_front.scss */
    .front .l-branding .site-name {
      clear: both;
      padding: 10px 1px;
      float: none;
      width: 99.9%;
      background: #222222; }
      /* line 17, ../sass/components/pages/_front.scss */
      .front .l-branding .site-name a {
        font-size: 6em;
        font-weight: normal;
        padding: 0 112px;
        text-transform: lowercase; }
    /* line 25, ../sass/components/pages/_front.scss */
    .front .l-branding .ir_custom_logo {
      width: 550px;
      float: none;
      margin: 0 auto; }
      /* line 29, ../sass/components/pages/_front.scss */
      .front .l-branding .ir_custom_logo .ir-custom-logo-icons {
        float: none; }
      /* line 32, ../sass/components/pages/_front.scss */
      .front .l-branding .ir_custom_logo .ir-main-idea {
        width: 33.3%;
        padding: 1.8em 0;
        color: white;
        margin-bottom: 1px;
        margin-right: 0;
        text-shadow: 2px 2px 2px #333333; }
      /* line 40, ../sass/components/pages/_front.scss */
      .front .l-branding .ir_custom_logo #ir-drupal {
        background: #2ca8c2; }
      /* line 43, ../sass/components/pages/_front.scss */
      .front .l-branding .ir_custom_logo #ir-love {
        background: #eb5054; }
      /* line 46, ../sass/components/pages/_front.scss */
      .front .l-branding .ir_custom_logo #ir-dedication {
        background: #8ab845; }
    /* line 50, ../sass/components/pages/_front.scss */
    .front .l-branding .ir-slogan {
      clear: both;
      float: none;
      font-size: 1.5em;
      margin-top: 1em;
      text-align: center; }
  /* line 60, ../sass/components/pages/_front.scss */
  .front #block-views-our-services-block .views-view-grid tr {
    float: none;
    border-bottom: 15px solid white; }
  /* line 64, ../sass/components/pages/_front.scss */
  .front #block-views-our-services-block .views-view-grid td {
    width: 25%;
    border-right: 15px solid white; }
    /* line 67, ../sass/components/pages/_front.scss */
    .front #block-views-our-services-block .views-view-grid td.col-last {
      border: none; } }
/* line 75, ../sass/components/pages/_front.scss */
.l-content {
  *zoom: 1;
  max-width: 1050px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto; }
  /* line 38, ../../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .l-content:after {
    content: "";
    display: table;
    clear: both; }

@media (min-width: 769px) {
  /* line 80, ../sass/components/pages/_front.scss */
  .l-branding {
    max-width: 1050px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 6em 5px 3em 5px; }
    /* line 38, ../../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
    .l-branding:after {
      content: "";
      display: table;
      clear: both; }
    /* line 83, ../sass/components/pages/_front.scss */
    .l-branding .site-name {
      float: right;
      padding: 1px;
      text-shadow: 1px 1px 2px black;
      background: #222222; }
      /* line 88, ../sass/components/pages/_front.scss */
      .l-branding .site-name a {
        font-size: 2.5em;
        font-weight: normal;
        padding: 0 50px;
        text-transform: lowercase; }
    /* line 95, ../sass/components/pages/_front.scss */
    .l-branding .ir_custom_logo {
      float: left;
      margin: 0 auto; }
      /* line 99, ../sass/components/pages/_front.scss */
      .l-branding .ir_custom_logo .ir-custom-logo-icons {
        float: left; }
      /* line 102, ../sass/components/pages/_front.scss */
      .l-branding .ir_custom_logo .ir-main-idea {
        padding: 15px;
        margin-right: 2px;
        color: white;
        margin-bottom: 1px;
        text-shadow: 1px 1px 3px #333333; }
      /* line 110, ../sass/components/pages/_front.scss */
      .l-branding .ir_custom_logo #ir-drupal {
        background: #2ca8c2; }
      /* line 113, ../sass/components/pages/_front.scss */
      .l-branding .ir_custom_logo #ir-love {
        background: #eb5054; }
      /* line 116, ../sass/components/pages/_front.scss */
      .l-branding .ir_custom_logo #ir-dedication {
        background: #8ab845; }
    /* line 120, ../sass/components/pages/_front.scss */
    .l-branding .ir-slogan {
      float: right;
      font-size: 1.1em;
      text-align: left; }

  /* line 128, ../sass/components/pages/_front.scss */
  .front-page-main-content .pane-title {
    text-align: left !important; }
  /* line 132, ../sass/components/pages/_front.scss */
  .front-page-main-content .content-listings-home > .view-content .views-row {
    text-align: left !important; }
    /* line 134, ../sass/components/pages/_front.scss */
    .front-page-main-content .content-listings-home > .view-content .views-row .content-image {
      width: 32.20339%;
      float: left;
      margin-right: 1.69492%; } }
@media (min-width: 481px) and (max-width: 768px) {
  /* line 144, ../sass/components/pages/_front.scss */
  .l-branding .ir-slogan {
    display: none; }

  /* line 150, ../sass/components/pages/_front.scss */
  #block-views-our-services-block .views-view-grid tr {
    width: 50%;
    float: left;
    border-bottom: 10px solid white; }
  /* line 155, ../sass/components/pages/_front.scss */
  #block-views-our-services-block .views-view-grid td {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    border-right: 10px solid white;
    border-left: 10px solid white;
    border-bottom: 5px solid white; }

  /* line 164, ../sass/components/pages/_front.scss */
  .front-page-main-content .pane-title {
    text-align: left !important; }
  /* line 168, ../sass/components/pages/_front.scss */
  .front-page-main-content .content-listings-home > .view-content .views-row {
    text-align: left !important; }
    /* line 170, ../sass/components/pages/_front.scss */
    .front-page-main-content .content-listings-home > .view-content .views-row .content-image {
      width: 32.20339%;
      float: left;
      margin-right: 1.69492%; } }
@media (max-width: 480px) {
  /* line 180, ../sass/components/pages/_front.scss */
  .l-branding .ir-slogan {
    display: none; }

  /* line 186, ../sass/components/pages/_front.scss */
  #block-views-our-services-block .views-view-grid tr {
    border-bottom: 15px solid white;
    width: 100%;
    float: none;
    border: none; }
  /* line 192, ../sass/components/pages/_front.scss */
  #block-views-our-services-block .views-view-grid td {
    border-bottom: 10px solid white; } }
/* front header default*/
/* line 200, ../sass/components/pages/_front.scss */
.ir-main-idea {
  float: left; }

/* front page services blocks */
/* line 205, ../sass/components/pages/_front.scss */
#block-views-our-services-block {
  margin-top: 2em; }
  /* line 207, ../sass/components/pages/_front.scss */
  #block-views-our-services-block .views-view-grid {
    width: 100%;
    border-collapse: collapse; }
    /* line 212, ../sass/components/pages/_front.scss */
    #block-views-our-services-block .views-view-grid td {
      width: 100%; }
      /* line 215, ../sass/components/pages/_front.scss */
      #block-views-our-services-block .views-view-grid td:nth-child(4n + 1) {
        background: #2ca8c2; }
      /* line 218, ../sass/components/pages/_front.scss */
      #block-views-our-services-block .views-view-grid td:nth-child(4n + 2) {
        background: #eb5054; }
      /* line 221, ../sass/components/pages/_front.scss */
      #block-views-our-services-block .views-view-grid td:nth-child(4n + 3) {
        background: #8ab845; }
      /* line 224, ../sass/components/pages/_front.scss */
      #block-views-our-services-block .views-view-grid td:nth-child(4n) {
        background: #f4b400; }
      /* line 228, ../sass/components/pages/_front.scss */
      #block-views-our-services-block .views-view-grid td a {
        padding: 20px;
        display: block;
        color: white;
        text-decoration: none; }
        /* line 233, ../sass/components/pages/_front.scss */
        #block-views-our-services-block .views-view-grid td a:hover {
          text-decoration: underline; }

/* line 241, ../sass/components/pages/_front.scss */
.front-page-main-content .pane-title {
  font-weight: normal;
  font-size: 2em;
  text-shadow: 0 1px 0 white;
  text-align: center; }
/* line 248, ../sass/components/pages/_front.scss */
.front-page-main-content .content-listings-home > .view-content .views-row {
  *zoom: 1;
  max-width: 1050px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  text-align: center;
  background-color: #FFFFFF;
  font-size: 22px;
  font-weight: normal;
  letter-spacing: -1px;
  padding: 20px;
  margin: 15px 0; }
  /* line 38, ../../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .front-page-main-content .content-listings-home > .view-content .views-row:after {
    content: "";
    display: table;
    clear: both; }
  /* line 278, ../sass/components/pages/_front.scss */
  .front-page-main-content .content-listings-home > .view-content .views-row:hover {
    bakground: white; }
  /* line 281, ../sass/components/pages/_front.scss */
  .front-page-main-content .content-listings-home > .view-content .views-row .views-field-field-client-testimonials {
    font-size: 14px;
    letter-spacing: 0;
    margin-top: 10px; }
@media (min-width: 769px) {
  /* line 247, ../sass/components/pages/_front.scss */
  .front-page-main-content .content-listings-home {
    /*> .view-content {
    	$total-columns: 2;
    	@include set-container-width;
    	.views-row {
    		clear:none;
    		margin-right:0 !important;
    	}
    	.views-row-odd {
    		@include span-columns(1,2);
    	}
    	.views-row-even {
    		@include span-columns(1,2);
    	}
    }*/ } }

/* line 309, ../sass/components/pages/_front.scss */
.front-top-content-block,
.front-page-main-content {
  clear: both; }
