/* IR color palatte*/
/* Site Wide varaibles*/
/* No files to import found in abstractions/**\/* */
/* No files to import found in variables/**\/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/base\/_base\.scss}line{font-family:\000034}}
body {
  background: #f2f2f2; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/base\/_base\.scss}line{font-family:\000038}}
a {
  color: #2ca8c2;
  text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/base\/_base\.scss}line{font-family:\0000311}}
  a:hover {
    text-decoration: underline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/base\/_base\.scss}line{font-family:\0000316}}
h1 {
  letter-spacing: 0.1em;
  font-size: 1.7em; }

/*site name defaults*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/base\/_base\.scss}line{font-family:\0000323}}
.site-name a {
  color: white;
  text-decoration: none; }

/* Read More Link Site-wide*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/base\/_base\.scss}line{font-family:\0000330}}
.read-more-link {
  float: right;
  font-size: 80%; }

@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: local("Cabin Regular"), local("Cabin-Regular"), url(http://themes.googleusercontent.com/static/fonts/cabin/v4/JEgmtEDzc-IH8jBshQXrYA.woff) format("woff"); }

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans"), local("NotoSans"), url(http://themes.googleusercontent.com/static/fonts/notosans/v1/LeFlHvsZjXu2c3ZRgBq9nD8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }

/* No files to import found in variables/**\/* */
/* No files to import found in base/**\/* */
/* Contact Us page*/
@media (max-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/base\/_forms\.scss}line{font-family:\000039}}
  #contact-site-form .form-text, #contact-site-form textarea {
    width: 100% !important; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/base\/_forms\.scss}line{font-family:\0000315}}
#contact-site-form .form-text, #contact-site-form textarea, #contact-site-form .grippie {
  width: 80%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/base\/_forms\.scss}line{font-family:\0000318}}
#contact-site-form .form-actions {
  margin-top: 1em;
  margin-left: 0.1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/base\/_forms\.scss}line{font-family:\0000326}}
.l-region--sidebar-second #contact-site-form .form-text, .l-region--sidebar-second #contact-site-form textarea, .l-region--sidebar-second #contact-site-form .grippie {
  width: 100%; }

/* recaptcha form*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/base\/_forms\.scss}line{font-family:\0000333}}
.captcha {
  width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/base\/_forms\.scss}line{font-family:\0000335}}
  .captcha .fieldset-wrapper {
    width: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/base\/_forms\.scss}line{font-family:\0000337}}
    .captcha .fieldset-wrapper #edit-captcha-form {
      width: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/base\/_forms\.scss}line{font-family:\0000340}}
      .captcha .fieldset-wrapper #edit-captcha-form #recaptcha_table .recaptcha_image_cell {
        width: auto !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/base\/_forms\.scss}line{font-family:\0000342}}
        .captcha .fieldset-wrapper #edit-captcha-form #recaptcha_table .recaptcha_image_cell #recaptcha_image {
          width: auto !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/base\/_forms\.scss}line{font-family:\0000346}}
      .captcha .fieldset-wrapper #edit-captcha-form #recaptcha_table #recaptcha_response_field {
        width: 100% !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/base\/_forms\.scss}line{font-family:\0000352}}
  .captcha #recaptcha_privacy {
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%; }

/* No files to import found in variables/**\/* */
/* No files to import found in base/**\/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/_footer\.scss}line{font-family:\000036}}
.l-footer {
  background: white;
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/_footer\.scss}line{font-family:\000039}}
  .l-footer #footer-item-copyright {
    font-size: 0.9em;
    font-family: serif;
    color: #c9c9c9;
    padding: 4em 0 1em 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/_footer\.scss}line{font-family:\0000315}}
  .l-footer #footer-item-contact {
    font-size: 1.1em;
    text-transform: lowercase; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/_footer\.scss}line{font-family:\0000318}}
    .l-footer #footer-item-contact div {
      margin: 0.5em 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/_footer\.scss}line{font-family:\0000320}}
      .l-footer #footer-item-contact div a {
        color: #222222; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/_footer\.scss}line{font-family:\0000326}}
  .l-footer #footer-item-header {
    font-size: 1.8em; }

/* No files to import found in variables/**\/* */
/* Large screen menu - desktop*/
@media (min-width: 769px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/_navigation\.scss}line{font-family:\000036}}
  .l-top-nav {
    background: #222222;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/_navigation\.scss}line{font-family:\0000312}}
    .l-top-nav #block-system-main-menu {
      max-width: 1050px;
      padding-left: 5px;
      padding-right: 5px;
      margin-left: auto;
      margin-right: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
      .l-top-nav #block-system-main-menu:after {
        content: "";
        display: table;
        clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/_navigation\.scss}line{font-family:\0000314}}
      .l-top-nav #block-system-main-menu ul {
        padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/_navigation\.scss}line{font-family:\0000316}}
        .l-top-nav #block-system-main-menu ul li {
          list-style: none;
          display: inline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/_navigation\.scss}line{font-family:\0000319}}
          .l-top-nav #block-system-main-menu ul li a {
            color: #dddddd;
            text-decoration: none;
            letter-spacing: 0.1em;
            font-weight: bold;
            padding: 16px 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/_navigation\.scss}line{font-family:\0000325}}
            .l-top-nav #block-system-main-menu ul li a:hover {
              color: #8d8d8d;
              font-weight: bold; } }
/* Menu theming for small screens*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/_navigation\.scss}line{font-family:\0000338}}
.l-top-nav .responsive-menus.responsified {
  background: none repeat scroll 0 0 #222222; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/_navigation\.scss}line{font-family:\0000340}}
  .l-top-nav .responsive-menus.responsified span.toggler {
    text-align: right;
    background: none repeat scroll 0 0 #222222;
    border-radius: 0;
    box-shadow: none;
    padding: 8px 8px 8px 0;
    font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/_navigation\.scss}line{font-family:\0000349}}
  .l-top-nav .responsive-menus.responsified.responsive-toggled.absolute .responsive-menus-simple {
    background: none repeat scroll 0 0 #222222;
    border-radius: 0;
    box-shadow: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/_navigation\.scss}line{font-family:\0000356}}
  .l-top-nav .responsive-menus.responsified .responsive-menus-simple ul {
    padding: 0;
    margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/_navigation\.scss}line{font-family:\0000359}}
    .l-top-nav .responsive-menus.responsified .responsive-menus-simple ul li.leaf {
      list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/_navigation\.scss}line{font-family:\0000361}}
      .l-top-nav .responsive-menus.responsified .responsive-menus-simple ul li.leaf a {
        color: #dddddd;
        text-decoration: none;
        display: block;
        padding: 12px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/_navigation\.scss}line{font-family:\0000366}}
        .l-top-nav .responsive-menus.responsified .responsive-menus-simple ul li.leaf a:hover {
          background: #dddddd;
          color: #222222; }

/* Small Screen Site name*/
@media (max-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/_navigation\.scss}line{font-family:\0000379}}
  .site-name {
    text-shadow: 1px 1px 1px black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/_navigation\.scss}line{font-family:\0000381}}
    .site-name a {
      position: absolute;
      top: 0px;
      left: 4px;
      font-size: 2em;
      font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/_navigation\.scss}line{font-family:\0000390}}
  .ir_custom_logo .ir-custom-logo-icons {
    position: absolute;
    top: 12px;
    margin-left: 8.5em;
    text-shadow: 1px 1px 1px black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/_navigation\.scss}line{font-family:\0000395}}
    .ir_custom_logo .ir-custom-logo-icons .ir-main-idea {
      color: white;
      margin-right: 8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/_navigation\.scss}line{font-family:\0000399}}
    .ir_custom_logo .ir-custom-logo-icons #ir-drupal {
      color: #2ca8c2; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/_navigation\.scss}line{font-family:\00003102}}
    .ir_custom_logo .ir-custom-logo-icons #ir-love {
      color: #eb5054; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/_navigation\.scss}line{font-family:\00003105}}
    .ir_custom_logo .ir-custom-logo-icons #ir-dedication {
      color: #8ab845; } }
/* No files to import found in variables/**\/* */
/* No files to import found in base/**\/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/blocks\/_blocks\.scss}line{font-family:\000036}}
.block__content {
  background: white;
  padding: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/blocks\/_blocks\.scss}line{font-family:\0000310}}
.block__title {
  letter-spacing: 0.1em; }

/* Contact us locations block */
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/blocks\/_blocks\.scss}line{font-family:\0000317}}
#block-panels-mini-ir-locations .ir-map iframe {
  width: 100%;
  height: 22em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/blocks\/_blocks\.scss}line{font-family:\0000322}}
#block-panels-mini-ir-locations .ir-address-1 {
  padding-bottom: 1em;
  border-bottom: 0.2em solid #eb5054;
  margin-bottom: 2em; }

/* No files to import found in variables/**\/* */
/* No files to import found in base/**\/* */
/* front header site name - desk*/
@media (min-width: 769px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\000039}}
  .front .l-branding {
    padding: 7em 0 3.5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\0000311}}
    .front .l-branding .site-name {
      clear: both;
      padding: 10px 1px;
      float: none;
      width: 99.9%;
      background: #222222; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\0000318}}
      .front .l-branding .site-name a {
        font-size: 6em;
        font-weight: normal;
        padding: 0 112px;
        text-transform: lowercase; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\0000326}}
    .front .l-branding .ir_custom_logo {
      width: 550px;
      float: none;
      margin: 0 auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\0000330}}
      .front .l-branding .ir_custom_logo .ir-custom-logo-icons {
        float: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\0000333}}
      .front .l-branding .ir_custom_logo .ir-main-idea {
        width: 33.3%;
        padding: 1.8em 0;
        color: white;
        margin-bottom: 1px;
        margin-right: 0;
        margin-left: 0;
        text-shadow: 2px 2px 2px #333333; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\0000344}}
        .front .l-branding .ir_custom_logo .ir-main-idea .ir-idea-text {
          margin-left: 0.5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\0000348}}
      .front .l-branding .ir_custom_logo #ir-drupal {
        background: #2ca8c2; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\0000351}}
      .front .l-branding .ir_custom_logo #ir-love {
        background: #eb5054; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\0000354}}
      .front .l-branding .ir_custom_logo #ir-dedication {
        background: #8ab845; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\0000358}}
    .front .l-branding .ir-slogan {
      clear: both;
      float: none;
      font-size: 1.5em;
      margin-top: 2.1em;
      text-align: center; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\0000368}}
.l-main {
  *zoom: 1;
  max-width: 1050px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
  .l-main:after {
    content: "";
    display: table;
    clear: both; }

/* site logo desktop - other pages*/
@media (min-width: 769px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\0000374}}
  .l-branding {
    max-width: 1050px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 6em 5px 3em 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
    .l-branding:after {
      content: "";
      display: table;
      clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\0000377}}
    .l-branding .site-name {
      float: right;
      padding: 1px;
      text-shadow: 1px 1px 2px black;
      background: #222222; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\0000382}}
      .l-branding .site-name a {
        font-size: 2.5em;
        font-weight: normal;
        padding: 0 50px;
        text-transform: lowercase; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\0000389}}
    .l-branding .ir_custom_logo {
      float: left;
      margin: 0 auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\0000393}}
      .l-branding .ir_custom_logo .ir-custom-logo-icons {
        float: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\0000396}}
      .l-branding .ir_custom_logo .ir-main-idea {
        padding: 15px;
        margin-left: 2px;
        color: white;
        margin-bottom: 1px;
        text-shadow: 1px 1px 3px #333333; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\00003104}}
      .l-branding .ir_custom_logo #ir-drupal {
        background: #2ca8c2; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\00003107}}
      .l-branding .ir_custom_logo #ir-love {
        background: #eb5054; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\00003110}}
      .l-branding .ir_custom_logo #ir-dedication {
        background: #8ab845; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\00003114}}
    .l-branding .ir-slogan {
      float: right;
      font-size: 1.1em;
      text-align: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\00003122}}
  .front-page-main-content .pane-title {
    text-align: left !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\00003126}}
  .front-page-main-content .content-listings-home > .view-content .views-row {
    text-align: left !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\00003130}}
  .front-page-main-content .header-stickey {
    position: fixed;
    padding: 0.5em !important;
    z-index: 999;
    max-width: 1050px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
    top: 2.15em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
    .front-page-main-content .header-stickey:after {
      content: "";
      display: table;
      clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\00003140}}
  .work-content-listing > .view-content .views-row {
    padding: 0 !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\00003142}}
    .work-content-listing > .view-content .views-row .views-field-title {
      margin-top: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\00003148}}
  .work-content-listing .views-row-odd .listing-list-left {
    float: left;
    width: 50%;
    margin: 0;
    border-right: 1em solid #f2f2f2; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\00003155}}
  .work-content-listing .views-row-odd .listing-list-right {
    width: 50%;
    display: block;
    float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\00003162}}
  .work-content-listing .views-row-even .listing-list-left {
    float: right;
    width: 50%;
    border-left: 1em solid #f2f2f2; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\00003167}}
  .work-content-listing .views-row-even .listing-list-right {
    float: left;
    width: 50%;
    margin-right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\00003176}}
  .pane-main-idea .front-page-main-content {
    margin-right: 6px;
    max-width: 1050px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
    .pane-main-idea .front-page-main-content:after {
      content: "";
      display: table;
      clear: both; } }
@media (min-width: 481px) and (max-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\00003185}}
  .l-branding .ir-slogan {
    padding: 1.2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\00003188}}
  .l-branding .ir-idea-text {
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\00003201}}
  .work-content-listing > .view-content .views-row .views-field-field-client-testimonials .content-testimonials {
    margin-bottom: 1em; } }
@media (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\00003211}}
  .l-branding .ir-slogan {
    padding: 1.2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\00003214}}
  .l-branding .ir-idea-text {
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\00003220}}
  .content-listings-home > .view-content .views-row .views-field-body {
    text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\00003228}}
  .work-content-listing > .view-content .views-row .views-field-field-client-testimonials .content-testimonials {
    text-align: center;
    margin: 1em 0 2em 0 !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\00003232}}
  .work-content-listing > .view-content .views-row .views-field-field-client-testimonials .content-title {
    text-align: center;
    margin-left: 0 !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\00003238}}
  .work-content-listing > .view-content .views-row .content-image img {
    height: auto; } }
/* front header default*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\00003247}}
.ir-main-idea {
  float: left; }

/* work view - homepage/landing*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\00003254}}
.work-content-listing > .view-content .views-row {
  font-family: "sans-serif";
  text-align: left;
  *zoom: 1;
  max-width: 1050px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  margin-bottom: 2em;
  font-size: 1.2em;
  letter-spacing: -1px;
  font-weight: normal; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
  .work-content-listing > .view-content .views-row:after {
    content: "";
    display: table;
    clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\00003265}}
  .work-content-listing > .view-content .views-row .listing-list-right {
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\00003267}}
    .work-content-listing > .view-content .views-row .listing-list-right .content-as-flag {
      color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\00003270}}
    .work-content-listing > .view-content .views-row .listing-list-right .views-field-field-work-category {
      position: absolute;
      right: 0;
      margin-right: 2em;
      padding: 0.5em 1.5em;
      top: 0;
      font-size: 0.7em;
      letter-spacing: 0.1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\00003279}}
    .work-content-listing > .view-content .views-row .listing-list-right .views-field-field-client-testimonials {
      margin-top: 2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\00003281}}
      .work-content-listing > .view-content .views-row .listing-list-right .views-field-field-client-testimonials .content-title {
        margin-left: 1em;
        font-size: 2.2em;
        text-transform: lowercase; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\00003286}}
      .work-content-listing > .view-content .views-row .listing-list-right .views-field-field-client-testimonials .content-testimonials {
        margin-top: 1em;
        margin-left: 4em;
        margin-right: 2em;
        font-size: 1em;
        font-family: serif;
        font-style: italic;
        line-height: 1.5em;
        letter-spacing: 1px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\00003301}}
  .work-content-listing > .view-content .views-row .content-image img {
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/base\/_base\.scss}line{font-family:\0000349}}
  .work-content-listing > .view-content .views-row:nth-child(4n + 1) .listing-list-right {
    border-top: 0.5em solid #2ca8c2; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/base\/_base\.scss}line{font-family:\0000351}}
    .work-content-listing > .view-content .views-row:nth-child(4n + 1) .listing-list-right .content-as-flag {
      background: #2ca8c2; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/base\/_base\.scss}line{font-family:\0000356}}
  .work-content-listing > .view-content .views-row:nth-child(4n + 1) .content-title a {
    color: #2ca8c2; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/base\/_base\.scss}line{font-family:\0000349}}
  .work-content-listing > .view-content .views-row:nth-child(4n + 2) .listing-list-right {
    border-top: 0.5em solid #eb5054; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/base\/_base\.scss}line{font-family:\0000351}}
    .work-content-listing > .view-content .views-row:nth-child(4n + 2) .listing-list-right .content-as-flag {
      background: #eb5054; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/base\/_base\.scss}line{font-family:\0000356}}
  .work-content-listing > .view-content .views-row:nth-child(4n + 2) .content-title a {
    color: #eb5054; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/base\/_base\.scss}line{font-family:\0000349}}
  .work-content-listing > .view-content .views-row:nth-child(4n + 3) .listing-list-right {
    border-top: 0.5em solid #8ab845; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/base\/_base\.scss}line{font-family:\0000351}}
    .work-content-listing > .view-content .views-row:nth-child(4n + 3) .listing-list-right .content-as-flag {
      background: #8ab845; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/base\/_base\.scss}line{font-family:\0000356}}
  .work-content-listing > .view-content .views-row:nth-child(4n + 3) .content-title a {
    color: #8ab845; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/base\/_base\.scss}line{font-family:\0000349}}
  .work-content-listing > .view-content .views-row:nth-child(4n) .listing-list-right {
    border-top: 0.5em solid #f4b400; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/base\/_base\.scss}line{font-family:\0000351}}
    .work-content-listing > .view-content .views-row:nth-child(4n) .listing-list-right .content-as-flag {
      background: #f4b400; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/base\/_base\.scss}line{font-family:\0000356}}
  .work-content-listing > .view-content .views-row:nth-child(4n) .content-title a {
    color: #f4b400; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\00003320}}
.work-content-listing .view-footer a {
  display: block;
  background: #222222;
  color: white;
  padding: 0.5em;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\00003328}}
  .work-content-listing .view-footer a:hover {
    background: #222222;
    color: #f4b400; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_front\.scss}line{font-family:\00003338}}
.front-page-main-content .pane-title {
  font-weight: normal;
  font-size: 1.5em;
  text-shadow: 0 1px 0 white;
  text-align: center;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0.83em 0;
  background: #f2f2f2; }

/* No files to import found in variables/**\/* */
/* No files to import found in base/**\/* */
/* services listing - homepage/ landing page*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_listings\.scss}line{font-family:\000038}}
.content-listings-home > .view-content .views-row {
  *zoom: 1;
  max-width: 1050px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  position: relative;
  padding: 0 !important;
  background-color: white;
  min-height: 9em;
  font-weight: normal;
  letter-spacing: -1px;
  padding: 20px;
  margin: 15px 0px 15px 6px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
  .content-listings-home > .view-content .views-row:after {
    content: "";
    display: table;
    clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_listings\.scss}line{font-family:\0000323}}
  .content-listings-home > .view-content .views-row .views-field-title {
    display: block;
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_listings\.scss}line{font-family:\0000326}}
    .content-listings-home > .view-content .views-row .views-field-title .service-title {
      color: white;
      display: block;
      width: 100%;
      padding: 0.3em 0.8em;
      font-size: 2em;
      letter-spacing: 0.1em;
      font-family: serif; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_listings\.scss}line{font-family:\0000335}}
    .content-listings-home > .view-content .views-row .views-field-title .service-icon {
      float: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_listings\.scss}line{font-family:\0000339}}
  .content-listings-home > .view-content .views-row .views-field-body {
    padding: 1em;
    font-family: serif;
    font-size: 1.3em;
    letter-spacing: 0.1em;
    line-height: 1.4em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/base\/_base\.scss}line{font-family:\0000363}}
  .content-listings-home > .view-content .views-row:nth-child(4n + 1) .views-field-title {
    background: #2ca8c2; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/base\/_base\.scss}line{font-family:\0000363}}
  .content-listings-home > .view-content .views-row:nth-child(4n + 2) .views-field-title {
    background: #eb5054; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/base\/_base\.scss}line{font-family:\0000363}}
  .content-listings-home > .view-content .views-row:nth-child(4n + 3) .views-field-title {
    background: #8ab845; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/base\/_base\.scss}line{font-family:\0000363}}
  .content-listings-home > .view-content .views-row:nth-child(4n) .views-field-title {
    background: #f4b400; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_listings\.scss}line{font-family:\0000358}}
  .content-listings-home > .view-content .views-row:hover {
    bakground: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_listings\.scss}line{font-family:\0000361}}
  .content-listings-home > .view-content .views-row .views-field-field-client-testimonials {
    font-size: 14px;
    letter-spacing: 0;
    margin-top: 10px; }

@media (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/components\/pages\/_listings\.scss}line{font-family:\0000372}}
  .content-listings-home > .view-content .views-row .views-field-body {
    font-family: serif;
    font-size: 1.1em;
    letter-spacing: 0.1em;
    line-height: 1.4em;
    text-overflow: clip;
    overflow: hidden; } }
