@import "variable";

 // main front content block 

 body { min-height:800px; }

.intro {
  position: fixed;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  color: $black;
  -webkit-backface-visibility: hidden;

  /* LOGO */
  .logo {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 40px;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;

    //logo imgage
    img {
      display: block;
      width: 100%;
      max-width: 178px;
      margin: 0 auto 30px auto;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
    }

    span {
      display: block;
      font-size: 20px;
      margin-top: 25px;
      color:$white;
      line-height:38px;
    }
  }

  .other-logo {
    position: relative;
    width: 370px;
    height: 683px;
    padding: 52px 20px 0 21px; 
    margin: 0 auto -380px auto;
    overflow: hidden;
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-backface-visibility: hidden;

    img {
      display: block;
      width: 100%;
      max-width: 100%;
    }
  }

  .intro-features {
    -webkit-transform: translateX(112px);
    transform: translateX(112px);
    -webkit-backface-visibility: hidden;

    .icon-block {
      opacity: 0;
      -webkit-transform: translateX(50px);
      transform: translateX(50px);
      -webkit-transition: opacity .5s, -webkit-transform .5s;
      transition: opacity .5s, transform .5s;
    }
  }

  .container {
    position: relative;
    z-index: 10;
    width:100%;
    margin:0;
    padding:0;

    /* Into Columns */
    .column-wrap {
      display: table;
      width: 100%;
      position:relative;

      .c-left {
        background-color:$blue;
      }
      .c-middle{
        background-color:$dark_red;
      }
      .c-right{
        background-color:$green;
      }

      .column {
        display: table-cell;
        vertical-align: top;
        z-index: 10;
        text-align: center;
        padding-top: 5%;

        .front-navbar-header {
          .navbar-toggle {
            display:block;
            background-color:$nav_bar;
            padding: 26px 23px;
            border-radius: 160px;
            position:absolute;
            top:40px;
            left:15px;
          
            .icon-bar {
              background-color:$white;
              margin : 0px 0 5px 0;
            }
          }

          .contact {
            display: inline-block;
            left: 100px;
            margin-top: 30px;
            position: absolute;
            text-transform: uppercase;
            top: 45px;
            
            a {
              color:$white;
            }
          }

          .front-navbar-collapse-new {
            display:block;
            clear:both;
            
            ul li {
              a {
                color:$white;
              }
              a:hover {
                color: $blue;
              }
            }
          }
        }

        .box-float {
          background-color: $black;
          -webkit-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.17);
          -moz-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.17);
          box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.17);
        }
      }
    }
  }



  .social-buttons {
    ul {
      li {
        display:inline-block;
        padding:5px;
      }
      float:right;
    } 
  }
  .column.c-right,
  .column.c-left {
    width: 33.3%;
    vertical-align:top;
    padding:10px;
  }

  .columu.c-middle {
    width: 33.3%;
    padding:10px;
  }
} 

//trancation css
.intro.transformed {
  .logo {
    -webkit-transform: translate(-100%, 29%);
    transform: translate(-100%, 29%);
  }
  .other-logo {
    -webkit-transform: translateY(-45%) scale(0.85);
    transform: translateY(-45%) scale(0.85);
  }
  .intro-features {
    -webkit-transform: translate(17%, 60%);
    transform: translate(17%, 60%);

    .icon-block {
      opacity: 1;
      -webkit-transform: translateX(0);
      transform: translateX(0);
      padding:17px;
      margin-top:8px;
      color:$white;
    }
  }
}

.front {
  #mini-panel-site_footer,
  #page-header .lead,
  #block-system-main,
  .navbar { 
    display:none;
  }
}

.main-navigations {
  bottom: 0;
  background-color:$white;
  box-shadow: 3px 0 7px 0 rgba(0, 0, 0, 0.25);
  left: 0;
  min-height: 100%;
  position: fixed;
  top: 0;
  transform: translateX(-114%);
  transition: transform 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s, visibility 1000ms ease 0s;
  width: 385px;
  z-index: 1000;
  visibility: hidden;
  margin-top:30px;
}

.main-navigations.front-navbar-collapse-new {
    transform: translateX(0px);
    visibility: visible;
}
