/*******************************************************************************
 * simple.layout.scss
 *
 * Styling of the "simple" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
/* IR color palatte*/
/* Site Wide varaibles*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/layouts\/ir_love-home\/ir_love-home\.layout\.scss}line{font-family:\0000310}}
.l-branding {
  clear: both;
  width: 100%;
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/layouts\/ir_love-home\/ir_love-home\.layout\.scss}line{font-family:\0000316}}
.l-header {
  background: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/layouts\/ir_love-home\/ir_love-home\.layout\.scss}line{font-family:\0000321}}
.l-footer,
.l-main {
  clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/layouts\/ir_love-home\/ir_love-home\.layout\.scss}line{font-family:\0000325}}
.l-content {
  *zoom: 1;
  max-width: 1050px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
  .l-content:after {
    content: "";
    display: table;
    clear: both; }

/*site body defaults*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/layouts\/ir_love-home\/ir_love-home\.layout\.scss}line{font-family:\0000330}}
.l-page {
  font-family: "Cabin";
  font-size: 100%;
  color: #222222; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/layouts\/ir_love-home\/ir_love-home\.layout\.scss}line{font-family:\0000336}}
.l-main {
  margin-bottom: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/layouts\/ir_love-home\/ir_love-home\.layout\.scss}line{font-family:\0000343}}
.l-region--highlighted,
.l-region--help,
.l-region--sidebar-first,
.l-region--sidebar-second {
  margin-bottom: 20px; }

@media (max-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/layouts\/ir_love-home\/ir_love-home\.layout\.scss}line{font-family:\0000348}}
  .l-region--header {
    width: 66.10169%;
    float: right;
    margin-right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/layouts\/ir_love-home\/ir_love-home\.layout\.scss}line{font-family:\0000351}}
  .l-region--navigation {
    clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/layouts\/ir_love-home\/ir_love-home\.layout\.scss}line{font-family:\0000358}}
  .has-sidebar-first .l-content,
  .has-sidebar-second .l-content,
  .has-two-sidebars .l-content {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/layouts\/ir_love-home\/ir_love-home\.layout\.scss}line{font-family:\0000362}}
  .has-sidebar-first .l-region--sidebar-first,
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-first,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 32.20339%;
    float: right;
    margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/layouts\/ir_love-home\/ir_love-home\.layout\.scss}line{font-family:\0000365}}
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-second {
    clear: right; } }
@media (min-width: 769px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/layouts\/ir_love-home\/ir_love-home\.layout\.scss}line{font-family:\0000372}}
  .l-region--header {
    width: 62.02532%;
    float: right;
    margin-right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/layouts\/ir_love-home\/ir_love-home\.layout\.scss}line{font-family:\0000377}}
  .has-sidebar-first .l-content {
    width: 74.68354%;
    float: right;
    margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/layouts\/ir_love-home\/ir_love-home\.layout\.scss}line{font-family:\0000380}}
  .has-sidebar-first .l-region--sidebar-first {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/layouts\/ir_love-home\/ir_love-home\.layout\.scss}line{font-family:\0000385}}
  .has-sidebar-second .l-content {
    width: 74.68354%;
    float: left;
    margin-right: 1.26582%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/layouts\/ir_love-home\/ir_love-home\.layout\.scss}line{font-family:\0000388}}
  .has-sidebar-second .l-region--sidebar-second {
    width: 24.05063%;
    float: right;
    margin-right: 0;
    clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/layouts\/ir_love-home\/ir_love-home\.layout\.scss}line{font-family:\0000395}}
  .has-two-sidebars .l-content {
    width: 49.36709%;
    float: left;
    margin-right: 1.26582%;
    margin-left: 25.31646%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/layouts\/ir_love-home\/ir_love-home\.layout\.scss}line{font-family:\00003100}}
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/layouts\/ir_love-home\/ir_love-home\.layout\.scss}line{font-family:\00003103}}
  .has-two-sidebars .l-region--sidebar-first {
    margin-left: -75.94937%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/share\/nginx\/www\/ir\/docroot\/sites\/all\/themes\/ir_love\/sass\/layouts\/ir_love-home\/ir_love-home\.layout\.scss}line{font-family:\00003106}}
  .has-two-sidebars .l-region--sidebar-second {
    float: right;
    margin-right: 0;
    clear: none; } }
