/*******************************************************************************
 * simple.layout.scss
 *
 * Styling of the "simple" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
/* IR color palatte*/
/* Custom color variables*/
/* Site Wide varaibles*/
/* line 10, ../../../sass/layouts/ir_love-home/ir_love-home.layout.scss */
.l-branding {
  clear: both;
  width: 100%;
  text-align: center; }

/* line 16, ../../../sass/layouts/ir_love-home/ir_love-home.layout.scss */
.l-header {
  background: white; }

/* line 21, ../../../sass/layouts/ir_love-home/ir_love-home.layout.scss */
.l-footer,
.l-main {
  clear: both; }

/* line 25, ../../../sass/layouts/ir_love-home/ir_love-home.layout.scss */
.l-content {
  *zoom: 1;
  max-width: 1050px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto; }
  /* line 38, ../../../../../../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .l-content:after {
    content: "";
    display: table;
    clear: both; }

/*site body defaults*/
/* line 30, ../../../sass/layouts/ir_love-home/ir_love-home.layout.scss */
.l-page {
  font-family: "Cabin";
  font-size: 100%;
  color: #222222; }

/* line 36, ../../../sass/layouts/ir_love-home/ir_love-home.layout.scss */
.l-main {
  margin-bottom: 20px; }

/* line 43, ../../../sass/layouts/ir_love-home/ir_love-home.layout.scss */
.l-region--highlighted,
.l-region--help,
.l-region--sidebar-first,
.l-region--sidebar-second {
  margin-bottom: 20px; }

@media (max-width: 768px) {
  /* line 48, ../../../sass/layouts/ir_love-home/ir_love-home.layout.scss */
  .l-region--header {
    width: 66.10169%;
    float: right;
    margin-right: 0; }

  /* line 51, ../../../sass/layouts/ir_love-home/ir_love-home.layout.scss */
  .l-region--navigation {
    clear: both; }

  /* line 58, ../../../sass/layouts/ir_love-home/ir_love-home.layout.scss */
  .has-sidebar-first .l-content,
  .has-sidebar-second .l-content,
  .has-two-sidebars .l-content {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%; }
  /* line 62, ../../../sass/layouts/ir_love-home/ir_love-home.layout.scss */
  .has-sidebar-first .l-region--sidebar-first,
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-first,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 32.20339%;
    float: right;
    margin-right: 0; }
  /* line 65, ../../../sass/layouts/ir_love-home/ir_love-home.layout.scss */
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-second {
    clear: right; } }
@media (min-width: 769px) {
  /* line 72, ../../../sass/layouts/ir_love-home/ir_love-home.layout.scss */
  .l-region--header {
    width: 62.02532%;
    float: right;
    margin-right: 0; }

  /* line 77, ../../../sass/layouts/ir_love-home/ir_love-home.layout.scss */
  .has-sidebar-first .l-content {
    width: 74.68354%;
    float: right;
    margin-right: 0; }
  /* line 80, ../../../sass/layouts/ir_love-home/ir_love-home.layout.scss */
  .has-sidebar-first .l-region--sidebar-first {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%; }

  /* line 85, ../../../sass/layouts/ir_love-home/ir_love-home.layout.scss */
  .has-sidebar-second .l-content {
    width: 74.68354%;
    float: left;
    margin-right: 1.26582%; }
  /* line 88, ../../../sass/layouts/ir_love-home/ir_love-home.layout.scss */
  .has-sidebar-second .l-region--sidebar-second {
    width: 24.05063%;
    float: right;
    margin-right: 0;
    clear: none; }

  /* line 95, ../../../sass/layouts/ir_love-home/ir_love-home.layout.scss */
  .has-two-sidebars .l-content {
    width: 49.36709%;
    float: left;
    margin-right: 1.26582%;
    margin-left: 25.31646%; }
  /* line 100, ../../../sass/layouts/ir_love-home/ir_love-home.layout.scss */
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%; }
  /* line 103, ../../../sass/layouts/ir_love-home/ir_love-home.layout.scss */
  .has-two-sidebars .l-region--sidebar-first {
    margin-left: -75.94937%; }
  /* line 106, ../../../sass/layouts/ir_love-home/ir_love-home.layout.scss */
  .has-two-sidebars .l-region--sidebar-second {
    float: right;
    margin-right: 0;
    clear: none; } }
