/*******************************************************************************
 * simple.layout.scss
 *
 * Styling of the "simple" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
/* Custom color variables*/
/* Site Wide varaibles*/
/* line 29, ../../../sass/layouts/inno_love/inno_love.layout.scss */
.l-branding {
  clear: both;
  width: 100%;
  text-align: center; }

/* line 34, ../../../sass/layouts/inno_love/inno_love.layout.scss */
.l-header {
  background: white; }

/* line 39, ../../../sass/layouts/inno_love/inno_love.layout.scss */
.l-footer,
.l-main {
  clear: both; }

/*site body defaults*/
/* line 44, ../../../sass/layouts/inno_love/inno_love.layout.scss */
.l-page {
  font-family: "Cabin";
  font-size: 100%;
  color: #333333; }

/* line 49, ../../../sass/layouts/inno_love/inno_love.layout.scss */
body {
  background: gainsboro; }

/*site name defaults*/
/* line 55, ../../../sass/layouts/inno_love/inno_love.layout.scss */
.site-name a {
  color: white;
  text-decoration: none; }

/* line 62, ../../../sass/layouts/inno_love/inno_love.layout.scss */
.l-main {
  margin-bottom: 20px; }

/* line 71, ../../../sass/layouts/inno_love/inno_love.layout.scss */
.l-region--highlighted,
.l-region--help,
.l-region--sidebar-first,
.l-region--sidebar-second {
  margin-bottom: 20px; }

@media (min-width: 44em) {
  /* line 85, ../../../sass/layouts/inno_love/inno_love.layout.scss */
  .l-region--header {
    width: 66.10169%;
    float: right;
    margin-right: 0; }

  /* line 88, ../../../sass/layouts/inno_love/inno_love.layout.scss */
  .l-region--navigation {
    clear: both; }

  /* line 95, ../../../sass/layouts/inno_love/inno_love.layout.scss */
  .has-sidebar-first .l-content,
  .has-sidebar-second .l-content,
  .has-two-sidebars .l-content {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%; }
  /* line 99, ../../../sass/layouts/inno_love/inno_love.layout.scss */
  .has-sidebar-first .l-region--sidebar-first,
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-first,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 32.20339%;
    float: right;
    margin-right: 0; }
  /* line 102, ../../../sass/layouts/inno_love/inno_love.layout.scss */
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-second {
    clear: right; } }
@media (min-width: 70em) {
  /* line 118, ../../../sass/layouts/inno_love/inno_love.layout.scss */
  .l-region--header {
    width: 62.02532%;
    float: right;
    margin-right: 0; }

  /* line 123, ../../../sass/layouts/inno_love/inno_love.layout.scss */
  .has-sidebar-first .l-content {
    width: 74.68354%;
    float: right;
    margin-right: 0; }
  /* line 126, ../../../sass/layouts/inno_love/inno_love.layout.scss */
  .has-sidebar-first .l-region--sidebar-first {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%; }

  /* line 131, ../../../sass/layouts/inno_love/inno_love.layout.scss */
  .has-sidebar-second .l-content {
    width: 74.68354%;
    float: left;
    margin-right: 1.26582%; }
  /* line 134, ../../../sass/layouts/inno_love/inno_love.layout.scss */
  .has-sidebar-second .l-region--sidebar-second {
    width: 24.05063%;
    float: right;
    margin-right: 0;
    clear: none; }

  /* line 141, ../../../sass/layouts/inno_love/inno_love.layout.scss */
  .has-two-sidebars .l-content {
    width: 49.36709%;
    float: left;
    margin-right: 1.26582%;
    margin-left: 25.31646%; }
  /* line 146, ../../../sass/layouts/inno_love/inno_love.layout.scss */
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%; }
  /* line 149, ../../../sass/layouts/inno_love/inno_love.layout.scss */
  .has-two-sidebars .l-region--sidebar-first {
    margin-left: -75.94937%; }
  /* line 152, ../../../sass/layouts/inno_love/inno_love.layout.scss */
  .has-two-sidebars .l-region--sidebar-second {
    float: right;
    margin-right: 0;
    clear: none; } }
