@import "susy";
@import "variables/**/*";

body {
  background: $site_body_color;
}

a {
  color: $blue;
  text-decoration:none;
  &:hover {
    text-decoration:underline;
  }
}

h1 {
  letter-spacing: 0.1em;
  font-size: 1.7em;
}

/*site name defaults*/
.site-name {
  a {
    color: $foreground;
    text-decoration:none;
  }
}

/* Read More Link Site-wide*/
.read-more-link {
	float:right;
	font-size:80%;
}

@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin Regular'), local('Cabin-Regular'), url(http://themes.googleusercontent.com/static/fonts/cabin/v4/JEgmtEDzc-IH8jBshQXrYA.woff) format('woff');
}

@mixin color_palatte_ir_work($color) {
	.listing-list-right {
    	border-top: 0.5em solid $color;
    	.content-as-flag {
    		background: $color;
    	}
    }
	.content-title {
		a {
			color: $color;
		}
	}
}

@mixin color_palatte_ir_services($color) {
	.views-field-title {
		background: $color;
	}
}